<div class="center mb6 mt7 mx7">
    <h1 class="alt-h1 mb0">EWARS Administration</h1>
    <p class="subtitle">Want to learn how to configure and manage EWARS in your country or organization? Look no further!</p>
</div>
<div class="border-box flex justify-center mb1">
    <div class="g-container border-box border mr2 px3 py1">
        <h1 class="mb2 mt1 center">System Administration</h1>
        <p class="my0"><a href="#/system-administration/1-ewars-accounts">1. EWARS Accounts</a></p>
        <p class="my0"><a href="#/system-administration/2-locations">2. Locations</a></p>
        <p class="my0"><a href="#/system-administration/3-organizations">3. Organizations</a></p>
        <p class="my0"><a href="#/system-administration/4-laboratories">4. Laboratories</a></p>
        <p class="my0"><a href="#/system-administration/5-indicators">5. Indicators</a></p>
        <p class="my0"><a href="#/system-administration/6-form-manager">6. Form Manager</a></p>
        <p class="my0"><a href="#/system-administration/7-user-management">7. User Management</a></p>
        <p class="my0"><a href="#/system-administration/8-sms-gateways">8. SMS Gateways</a></p>
        <p class="my0"><a href="#/system-administration/9-device-management">9. Device Management</a></p>
        <p class="my0 mb2"><a href="#/system-administration/10-templates">10. Templates</a></p>
    </div>
    <div class="g-container border-box border mx0 px3 py1">
        <h1 class="mb2 mt1 center">Task Management</h1>
        <p class="my0"><a href="#/task-management/1-new-user-registration">1. New User Registration</a></p>
        <p class="my0"><a href="#/task-management/2-new-user-assignments">2. New User Assignments</a></p>
        <p class="my0"><a href="#/task-management/3-report-amendments">3. Report Amendments</a></p>
        <p class="my0"><a href="#/task-management/4-report-deletion-requests">4. Report Deletion Requests</a></p>
    </div>
</div>
<div class="border-box flex justify-center mx0 px3">
    <div class="g-container border-box border mr2 px3 py1">
        <h1 class="mb2 mt1 center">Monitoring and Evaluation</h1>
        <p class="my0 mb2"><a href="#/monitoring-and-evaluation/1-me-auditor">1. M&E Auditor</a></p>
    </div>
</div>