<div class="center mb6 mt7">
    <h1 class="alt-h1 mb0">Using EWARS</h1>
    <p class="subtitle">Quick-Start guide for users in the field. How to get up and running quickly!</p>
</div>
<div class="border-box flex justify-center mb1">
    <div class="g-container border-box border mr2 px3 py1">
        <h1 class="mb2 mt1 center">User Accounts</h1>
        <p class="my0"><a href="#/user-accounts/1-types-of-user-accounts">1. Types of user accounts</a></p>
        <p class="my0"><a href="#/user-accounts/2-sign-in-to-an-existing-user-account">2. Sign in to an existing user account</a></p>
        <p class="my0"><a href="#/user-accounts/3-sign-up-for-a-new-account">3. Sign up for a new account</a></p>
        <p class="my0"><a href="#/user-accounts/4-resetting-user-password">4. Resetting user password</a></p>
    </div>
    <div class="g-container border-box border mx0 px3 py1">
        <h1 class="mb2 mt1 center">Reporting</h1>
        <p class="my0"><a href="#/reporting/1-surveillance-dashboard">1. Surveillance Dashboard</a></p>
        <p class="my0"><a href="#/reporting/2-report-manager">2. Report Manager</a></p>
        <p class="my0"><a href="#/reporting/3-creating-a-new-report">3. Creating a new report</a></p>
        <p class="my0"><a href="#/reporting/4-deleting-report">4. Deleting reports</a></p>
        <p class="my0 mb2"><a href="#/reporting/5-editing-reports-after-submission">5. Editing reports after submission</a></p>
    </div>
</div>
<div class="border-box flex justify-center">
    <div class="g-container border-box border mr2 px3 py1">
        <h1 class="mb2 mt1 center">Assignments</h1>
        <p class="my0"><a href="#/assignments/1-requesting-a-new-assignment">1. Requesting a new assignment</a></p>
        <p class="my0"><a href="#/assignments/2-reviewing-active-assignments">2. Reviewing active assignments</a></p>
    </div>
    <div class="g-container border-box border mx0 px3 py1">
        <h1 class="mb2 mt1 center">EWARS Mobile</h1>
        <p class="my0"><a href="#/ewars-mobile/1-configuration-of-android-phone">1. Configuration of Android Phone</a></p>
        <p class="my0"><a href="#/ewars-mobile/2-installation-from-google-play">2. Installation from Google Play</a></p>
        <p class="my0"><a href="#/ewars-mobile/3-installation-from-local-file">3. Installation from local file</a></p>
        <p class="my0"><a href="#/ewars-mobile/4-signing-into-ewars-mobile">4. Signing into EWARS mobile</a></p>
        <p class="my0"><a href="#/ewars-mobile/5-using-ewars-mobile">5. Using EWARS mobile</a></p>
        <p class="my0"><a href="#/ewars-mobile/6-synchronising-ewars-mobile">6. Synchronising EWARS mobile</a></p>
        <p class="my0 mb2"><a href="#/ewars-mobile/7-additional-points">7. Additional points</a></p>
    </div>
</div>